body {
    background-color: #fff;
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

img {
    display: block;
    margin: 0;
    float: right;
}

.titulo {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 20px;
    text-align: center;
}

p, li {
    font-size: small;
}

/* header */

#ola {
    background-color: #2e2640;
    padding: 40px 0px 40px 0px;
    color: #fff;
}

#ola img {
    height: 200px;
}

.titulo-principal {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

#ola p {
    margin: 0;
    font-size: 12px;
}

/* Sobre mim */

#sobre-mim {
    padding-top: 20px;
    padding-bottom: 20px;
}

#sobre-mim img {
    height: 150px;
}

#sobre-mim .card-body {
    height: 50px;
    padding-top: 10px;
}

#sobre-mim p {
    font-size: 10px;
}

/* Carreira */

#carreira {
    background-color: #2e2640;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

#carreira p {
    font-size: x-small;
}

#carreira img {
    height: 300px;
}

/* Rodapé */

#contato {
    background-color: #cccfd1;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contato .titulo {
    padding-bottom: 10px;
    margin: 0;
}

#contato .container {
    width: 40%;
}

#contato span {
    font-weight: bold;
}

#contato i {
    font-size: xx-large;
}

#contato p {
    text-align: center;
}

#contato p, textarea, input {
    font-size: x-small;
}

#contato form textarea {
    width: 40%;
}

#contato form {
    font-size: x-small;
    display: flex;
    justify-content: center;
}
